
mat-grid-list {
  background-color: black;
}

.mat-grid-tile {
  background-color: white;
}

.roll-button{
  background: #4285F4;
  color: white;
  font-size: 40px;
  line-height: 55px;
  height: auto;
  width: auto;
  margin-top: 20px;
  float: right;
}
